@{
    ViewData["Title"] = "Cadastro";
}

<link rel="stylesheet" href="~/css/logincadastro.css">
<div class="quadradocadastro">
    <img src="~/anexos/instadev.svg" alt="">
    <span>Cadastre-se para ver fotos e vídeos dos seus amigos.</span>
    <form action="">
        <input type="email" required placeholder="Email">
        <input type="text" required placeholder="Nome completo">
        <input type="text" required placeholder="Nome de usuário">
        <input type="password" required placeholder="Senha">
        <button type="submit">Cadastre-se</button>
    </form>
    <span id="span2">Ao se cadastrar, você concorda com nossos Termos, Política de Dados e Política de Cookies. </span>
</div>

<div id="signup">
    <span>Tem uma conta? </span>
    <a href="#">Conecte-se</a>
</div>
<span id="Obtenha">Obtenha o aplicativo.</span>
<div class="baixeaqui">
    <img src="~/anexos/appstore.png" alt="">
    <img src="~/anexos/googleplay.png" alt="">
</div>
