@{
    ViewData["Title"] = "Perfil";
}

<link rel="stylesheet" href="~/css/perfil.css">
<div class="container">
    <section class="informações">
        <img class="icon_grande" src="anexos\837f83bbfa8f6b38b8daa97a809d228d.jpg" alt="icone grande">
        <div class="todasasdivs">
            <span class="nomegrande">Nagisa_Kun</span>
            <div class="follows">
                <span>2 publicações</span>
                <span>128 seguindo</span>
                <span>214 seguidores</span>
            </div>
            <div class="nomereal">
                <span class="nome">Nagisa Kun</span>
                <a href="#" class="sair">sair</a>
            </div>
        </div>
    </section>
    <div class="hr_alinhar">
        <hr>
    </div>
    <section class="publicações">
        <img src="anexos\image 1.png" alt="logo publicações">
        <span class="publicações_span">publicações</span>
    </section>
    <section class="feed_section">
        <div class="feed">
            <img class="foto1" src="anexos\ea00385905c4f9917251ef8c045e65b7.jpg" alt="foto da classe">
            <div class="div_column">
                <div class="div_bio">
                    <img class="foto_feed" src="anexos\837f83bbfa8f6b38b8daa97a809d228d.jpg" alt="icone da imagem">
                    <div class="textinhos">
                        <span class="nomenofeed">Nagisa_Kun</span>
                        <span class="rio">Rio de Janeiro, Brazil</span>
                    </div>
                </div>
                <div class="divreacoes">
                    <div class="iconreacoes">
                        <img src="anexos\Vector (1).png" alt="curtida">
                        <img src="anexos\Vector (2).png" alt="comentario">
                    </div>
                    <span>1994 curtidas</span>
                </div>
                <div class="comentario">
                    <div class="spanzada">
                        <span class="nomecmt">fausto_silva</span>
                        <div>
                            <span class="azaralhou" class="comentariosr">Esse cara é fera</span>
                        </div>
                    </div>
                    <img class="corazon" src="anexos\Vector (3).png" alt="coraçãozinho">
                </div>
                <div class="comentario">
                    <div class="spanzada">
                        <span class="nomecmt">yes_baby</span>
                        <div>
                            <span class="azaralhou" class="comentariosr">thank you</span>
                        </div>
                    </div>
                    <img class="corazon" src="anexos\Vector (3).png" alt="">
                </div>
                <div class="comentario">
                    <div class="spanzada">
                        <span class="nomecmt">adriano_stark</span>
                        <div>
                            <span class="azaralhou" class="comentariosr">Quando eu adormecer, vou sonhar com você. É sempre você.</span>
                        </div>
                    </div>
                    <img class="corazon" src="anexos\Vector (3).png" alt="">
                </div>
                <div class="comentario">
                    <div class="spanzada">
                        <span class="nomecmt">yes_baby</span>
                        <div>
                            <span class="azaralhou" class="comentariosr">thank you</span>
                        </div>
                    </div>
                    <img class="corazon" src="anexos\Vector (3).png" alt="">
                </div>
                <a class="a" href="#">Ver todos os 585 comentários</a>
            </div>
        </div>
        <div class="feed">
            <img class="foto1" src="anexos\flat,1000x1000,075,f.jpg" alt="foto dos 3">
            <div class="div_column">
                <div class="div_bio">
                    <img class="foto_feed" src="anexos\837f83bbfa8f6b38b8daa97a809d228d.jpg" alt="icone da imagem">
                    <div class="textinhos">
                        <span class="nomenofeed">Nagisa_Kun</span>
                        <span class="rio">Rio de Janeiro, Brazil</span>
                    </div>
                </div>
                <div class="divreacoes">
                    <div class="iconreacoes">
                        <img src="anexos\Vector (1).png" alt="curtida">
                        <img src="anexos\Vector (2).png" alt="comentario">
                    </div>
                    <span>1994 curtidas</span>
                </div>
                <div class="comentario">
                    <div class="spanzada">
                        <span class="nomecmt">fausto_silva</span>
                        <div>
                            <span class="azaralhou" class="comentariosr">Esse cara é fera</span>
                        </div>
                    </div>
                    <img class="corazon" src="anexos\Vector (3).png" alt="coraçãozinho">
                </div>
                <div class="comentario">
                    <div class="spanzada">
                        <span class="nomecmt">yes_baby</span>
                        <div>
                            <span class="azaralhou" class="comentariosr">thank you</span>
                        </div>
                    </div>
                    <img class="corazon" src="anexos\Vector (3).png" alt="">
                </div>
                <div class="comentario">
                    <div class="spanzada">
                        <span class="nomecmt">adriano_stark</span>
                        <div>
                            <span class="azaralhou" class="comentariosr">Quando eu adormecer, vou sonhar com você. É sempre você.</span>
                        </div>
                    </div>
                    <img class="corazon" src="anexos\Vector (3).png" alt="">
                </div>
                <div class="comentario">
                    <div class="spanzada">
                        <span class="nomecmt">yes_baby</span>
                        <div>
                            <span class="azaralhou" class="comentariosr">thank you</span>
                        </div>
                    </div>
                    <img class="corazon" src="anexos\Vector (3).png" alt="">
                </div>
                <a class="a" href="#">Ver todos os 585 comentários</a>
            </div>
        </div>
    </section>
</div>