* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
}

.header {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 53px;
}

.icones {
    width: 233px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone {
    width: 32px;
    border-radius: 50px;
}

.casinha {
    width: 19.5px;
    height: 21.13px;
}

.aviaozinho {
    width: 25px;
    height: 25px;
}

.bússola {
    width: 24px;
    height: 24px;
}

.like {
    width: 23.33px;
    height: 20.42px;
}

.inputpesquisa {
    width: 215px;
    height: 28px;
    color: #afafaf;
    border: 1px solid #DCDCDC;
}