<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
         <div class="container header">
            <div class="logo">
                <img src="anexos\Instadev.png" alt="logo Instadev">
            </div>
            <div class="input">
                <input class="inputpesquisa" type="search" placeholder="Pesquisar">
            </div>
            <nav class="icones">
                <a href="#"><img class="casinha" src="anexos\Vector.png" alt="home page">
                <a href="#"><img class="aviaozinho"src="anexos\plane 1.png" alt="direct Instadev"></a>
                <a href="#"><img class="bússola"src="anexos\compass 1.png" alt="compass"></a>
                <a href="#"><img class="like"src="anexos\Vector (1).png" alt="Likes e comentários"></a>
                <a href="#"><img class=icone src="anexos\837f83bbfa8f6b38b8daa97a809d228d.jpg" alt="icon"></a>
            </nav>
        </div>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
