@{
    ViewData["Title"] = "Feed";
}
<link rel="stylesheet" href="~/css/feed.css">
<div class="container divisao">
    <div class="principal">
        <section class="containerstory">

            <div class="storys">
                <article class="storyuser">
                    <a href=""><img src="~/anexos/vin-diesel 1.png" alt="imagem de perfil"></a>
                    <a>vin_diesel</a>
                </article>

                <article class="storyuser">
                    <a href=""><img src="~/anexos/gabigordo 1.png" alt="imagem de perfil"></a>
                    <a>gabigordo</a>
                </article>

                <article class="storyuser">
                    <a href=""><img src="~/anexos/will-baiano 1.png" alt="imagem de perfil"></a>
                    <a>will_baiano</a>
                </article>

                <article class="storyuser">
                    <a href=""><img src="~/anexos/tony_stark 1.png" alt="imagem de perfil"></a>
                    <a>adriano_stark</a>
                </article>

                <article class="storyuser">
                    <a href=""><img src="~/anexos/pele 1.png" alt="imagem de perfil"></a>
                    <a>king_pele</a>
                </article>

                <article class="storyuser">
                    <a href=""><img src="~/anexos/samuel-rosa.png" alt="imagem de perfil"></a>
                    <a>samuel_rosa</a>
                </article>

                <article class="storyuser">
                    <a href=""><img src="~/anexos/chaves_metal 1.png" alt="imagem de perfil"></a>
                    <a>chaves_metal</a>
                </article>
            </div>

        </section>

        <section>
            <div class="containerpostagem">
                <div>
                    <article class="postar">
                        <a href=""><img src="~/anexos/thank-you 3.png" alt="imagem de perfil"></a>
                        <h2>Postar</h2>
                    </article>

                    <article class="formpostar">
                        <input class="descricaopostar" type="text" placeholder="Digite a descrição da imagem...">
                        <input type="file" name="uploadfile" id="img" style="display: none;" alt="Escolha a imagem">
                        <label class="img" for="img">Escolha a Imagem</label>
                        <button class="butpostar">Postar</button>
                    </article>
                </div>
            </div>
        </section>

        <section>

            <div class="containerposts">
                <article class="perfilposts">
                    <img src="~/anexos/gabigordo 2.png" alt="Imagem de Perfil">
                    <div class="nicklocal">
                        <a id="nick">gabigordo</a>
                        <a>Flamengo, RJ</a>
                    </div>
                </article>

                <img src="~/anexos/post-gabigordo 1.png" alt="Publicação">

                <article class="formreagir">
                    <div>
                        <a href="#"><img class="icons" src="~/anexos/HeartSVG.svg" alt="Like"></a>
                        <a href="#"><img class="icons" src="~/anexos/BubbleSVG.svg" alt="Comentar"></a>
                    </div>
                    <input type="text" placeholder="Comentar...">
                </article>

                <a id="likes">2077 curtidas</a>

                <article class="comentarios">

                    <div class="comment">
                        <h3 class="itenscomment">gabigordo</h3>
                        <a href="#" class="itenscomment hashtag">#flamengo</a>
                        <a class="itenscomment">Amo vocês mil milhões <3 </a>
                    </div>

                    <div class="comment">
                        <h3 class="itenscomment">yes_baby</h3>
                        <a class="itenscomment">thank you</a>
                    </div>

                    <div class="comment">
                        <h3 class="itenscomment">king_pele</h3>
                        <a class="itenscomment">Esses são bons de bola, entende?</a>
                    </div>
                </article>
            </div>

            <div class="containerposts">
                <article class="perfilposts">
                    <img src="~/anexos/gabigordo 2.png" alt="Imagem de Perfil">
                    <div class="nicklocal">
                        <a id="nick">gabigordo</a>
                        <a>Flamengo, RJ</a>
                    </div>
                </article>

                <img src="~/anexos/post (1).jpg" alt="Publicação">

                <article class="formreagir">
                    <div>
                        <a href="#"><img class="icons" src="~/anexos/HeartSVG.svg" alt="Like"></a>
                        <a href="#"><img class="icons" src="~/anexos/BubbleSVG.svg" alt="Comentar"></a>
                    </div>
                    <input type="text" placeholder="Comentar...">
                </article>

                <a id="likes">2077 curtidas</a>

                <article class="comentarios">

                    <div class="comment">
                        <h3 class="itenscomment">gabigordo</h3>
                        <a href="#" class="itenscomment hashtag">#flamengo</a>
                        <a class="itenscomment">Amo vocês mil milhões <3  </a>
                    </div>

                    <div class="comment">
                        <h3 class="itenscomment">yes_baby</h3>
                        <a class="itenscomment">thank you</a>
                    </div>

                    <div class="comment">
                        <h3 class="itenscomment">king_pele</h3>
                        <a class="itenscomment">Esses são bons de bola, entende?</a>
                    </div>
                </article>
            </div>

            <div class="containerposts">
                <article class="perfilposts">
                    <img src="~/anexos/gabigordo 2.png" alt="Imagem de Perfil">
                    <div class="nicklocal">
                        <a id="nick">gabigordo</a>
                        <a>Flamengo, RJ</a>
                    </div>
                </article>

                <img src="~/anexos/post (2).jpg" alt="Publicação">

                <article class="formreagir">
                    <div>
                        <a href="#"><img class="icons" src="~/anexos/HeartSVG.svg" alt="Like"></a>
                        <a href="#"><img class="icons" src="~/anexos/BubbleSVG.svg" alt="Comentar"></a>
                    </div>
                    <input type="text" placeholder="Comentar...">
                </article>

                <a id="likes">2077 curtidas</a>

                <article class="comentarios">

                    <div class="comment">
                        <h3 class="itenscomment">gabigordo</h3>
                        <a href="#" class="itenscomment hashtag">#flamengo</a>
                        <a class="itenscomment">Amo vocês mil milhões <3 </a>
                    </div>

                    <div class="comment">
                        <h3 class="itenscomment">yes_baby</h3>
                        <a class="itenscomment">thank you</a>
                    </div>

                    <div class="comment">
                        <h3 class="itenscomment">king_pele</h3>
                        <a class="itenscomment">Esses são bons de bola, entende?</a>
                    </div>
                </article>
            </div>

        </section>
    </div>

    <article class="sessao">
        <img src="~/anexos/thank-you 2.png" alt="Imagem de perfil">
        <div class="infosessao">
            <h3>yes_baby</h3>
            <a>Marcos Jeeves</a>
        </div>
    </article>
</div>